<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Applications</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/job/add">Add Job</a></li>
    </ul>
</nav>
 
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Thoughts</th>
        <th>View</th>
    </tr>
    <tr th:each="item : ${applications}">
     
        <td th:text="${item.name}">Item code will appear here</td>
        <td th:text="${item.email}">Item type will appear here</td>
        <td th:text="${item.phone}">Item type will appear here</td>
        <td th:text="${item.address}">Item type will appear here</td>
        <td th:text="${item.thoughts}">Item type will appear here</td>
        <td><a th:href="@{/application/} + ${item.id}" target="_blank"> View</a></td>

    </tr>
</table>
</body>
</html>
